
<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <form id="contact-form" role="form" action="" method="post">
                    <div class="section-title">
                        <h1>Dejanos tu Mensaje</h1>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <input type="text" class="form-control" placeholder="Nombre completo" name="name" required>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input type="email" class="form-control" placeholder="Direccion Email" name="email" required>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input type="submit" class="form-control" name="send message" value="Enviar Mensaje">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="8" placeholder="Tu mensaje" name="message" required></textarea>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>     